<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101</key>
	<string>The Profile ID already exists.</string>
	<key>102</key>
	<string>The Profile ID cannot be empty and may only contain characters A through Z, 0 through 9, the @, -, _ symbols and periods.</string>
	<key>103</key>
	<string>Duress and regular pin cannot be the same.</string>
	<key>104</key>
	<string>Please enter a 4-10 digit PIN.</string>
	<key>105</key>
	<string>No voice samples.</string>
	<key>106</key>
	<string>No palm data.</string>
	<key>107</key>
	<string>No face data.</string>
	<key>108</key>
	<string>No face liveness data.</string>
	<key>109</key>
	<string>No location data.</string>
	<key>110</key>
	<string>Unable to verify image data. Please try again.</string>
	<key>111</key>
	<string>Unable to verify voice data. Please try again.</string>
	<key>112</key>
	<string>Unable to install One Time Password keys.</string>
	<key>113</key>
	<string>Unable to install P12 data.</string>
	<key>114</key>
	<string>Unable to connect.</string>
	<key>115</key>
	<string>Invalid request.</string>
	<key>116</key>
	<string>Failed to establish trust.</string>
	<key>117</key>
	<string>Invalid authentication code.</string>
	<key>118</key>
	<string>Unable to verify identity.</string>
	<key>272</key>
	<string>Unable to verify biometric data. Please try again.</string>
	<key>603</key>
	<string>A database error has occured. Please contact your service provider&apos;s administrator</string>
	<key>605</key>
	<string>The server was unable to validate the enrollment state of the user. Please contact your service provider&apos;s administrator.</string>
	<key>606</key>
	<string>Unable to find a device identifier on the phone.</string>
	<key>607</key>
	<string>The server was unable to decline the transaction. Please try again.</string>
	<key>608</key>
	<string>Unsupported image type. Please use a JPG image.</string>
	<key>609</key>
	<string>The server was unable to check the quality of the image. Please contact your service provider&apos;s administrator.</string>
	<key>610</key>
	<string>The server was unable to find the user identifier in the database. Please contact your service provider&apos;s administrator</string>
	<key>611</key>
	<string>The server was unable to retrieve the sponsorship details. Please contact your service provider&apos;s administrator.</string>
	<key>612</key>
	<string>The server was unable to retrieve the transaction details. Please contact your service provider&apos;s administrator.</string>
	<key>613</key>
	<string>The server was unable to validate your sponsorship code. Please contact your service provider&apos;s administrator.</string>
	<key>614</key>
	<string>iPhone already registered. Please contact your service provider&apos;s administrator to unregister your iPhone and try again. </string>
	<key>615</key>
	<string>Profile identifier missing in the request to the server.</string>
	<key>616</key>
	<string>Pin cannot match the Duress PIN</string>
	<key>617</key>
	<string>Face photo missing in the request to the server.</string>
	<key>618</key>
	<string>Voice sample missing in the request to the server.</string>
	<key>619</key>
	<string>Voice sample format invalid or missing voice sample.</string>
	<key>620</key>
	<string>Missing service provider identifier in request to the server.</string>
	<key>621</key>
	<string>Missing customer identifier in request to the server.</string>
	<key>626</key>
	<string>Missing service provider transaction identifier.</string>
	<key>633</key>
	<string>Missing GPS longitude in request to the server. Location serices may be turned off.</string>
	<key>634</key>
	<string>Missing GPS latitude in request to the server. Location services may be turned off.</string>
	<key>637</key>
	<string>Missing sponsorship token in request to the server.</string>
	<key>641</key>
	<string>Sponsorship verification failed. Please try again.</string>
	<key>644</key>
	<string>Failed to establish trust.</string>
	<key>648</key>
	<string>Sponsorship token has expired. Please sponsor the user again.</string>
	<key>651</key>
	<string>The transaction has expired. Please recreate the transaction and try again.</string>
	<key>652</key>
	<string>User identifier already exists. Please choose another user identifier and try again.</string>
	<key>655</key>
	<string>The server was unable to establish trust. Please contact your service provider&apos;s administrator.</string>
	<key>658</key>
	<string>Missing PIN in request to the server.</string>
	<key>659</key>
	<string>You have exceeded the allowed verification attempts. Please contact your service provider&apos;s administrator if you are having difficulties verifying</string>
	<key>660</key>
	<string>The server was unable to enroll the user. Please try to verify this transaction again or contact the service provider&apos;s administrator.</string>
	<key>663</key>
	<string>The server was unable to enroll the user. Please try to verify this transaction again or contact your service provider&apos;s administrator.</string>
	<key>676</key>
	<string>The server was unable to verify face liveness. Please contact your service provider&apos;s administrator.</string>
	<key>688</key>
	<string>Missing palm photo in request to the server.</string>
	<key>689</key>
	<string>The server was unable to verify voice liveness. Please contact your service provider&apos;s administrator</string>
	<key>690</key>
	<string>The device is using a certificate which was issued to another device. If your phone was recently reset to factory settings please contact your service provider&apos;s administrator.</string>
	<key>691</key>
	<string>Unable to find a certificate on the device.</string>
	<key>699</key>
	<string>User has been blocked. Please contact your service provider&apos;s administrator to unblock the user.</string>
	<key>739</key>
	<string>Restricted TrustX Participation. TrustX is currently being used by a closed trial group with restricted participation.  The scope of this group may increase as the trial progresses, so please check back later to see if you have become eligible.  If you feel you were intended to be a part of this trial group, please contact us at support@trustx.com.</string>
</dict>
</plist>
